.container{
    max-width: 1600px;
    margin: 0 auto;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}

.nav__link{
    color: #1F1534;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.nav__active-link{
    font-weight: 700;
    opacity: 1;
}